body{
    background-color: black;
}
h1{
    color: white;
}
/*
#p1{
    color: orange;
}
#p2{
    color: blueviolet;
}
#p3{
    color: aqua;
}
#p4{
    color: brown;
}
*/
.odd{
    color: blue;
}
.even{
    color: red;
}
